extends base

block title
  title= page.title + ' | ' + config.title

block content
  .post-02
  .post
    h1.post-title
      a(href=url_for(site.path))=page.title
    .post-meta
      a(href="https://ziyuan.baidu.com/xzh/commit/method?appid=1603347506741536",target="_Blank")= page.date.format('MM-DD')
      if page.categories.length > 0
        span= ' | '
        span.category
          for category in page.categories.toArray()
            a(href=url_for(category.path))= category.name
      if theme.valine.visitor == true
        span(id=url_for(page.path),class='leancloud_visitors',data-flag-title="文章阅读量统计") &nbsp;| <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;
          span.leancloud-visitors-count
          span()=' '+__('Hits')
      if theme.wordcount
        span() &nbsp;|&nbsp;<i class="fa fa-keyboard-o"></i>&nbsp;
            span.post-count= wordcount(page.content)+' 字 '
    if(page.top || page.yuanchuang || theme.valine.enable)
      div(style="float:right;margin:15px 0 0;")
        if theme.valine.enable
           a( href=url_for(page.path) + '#vcomment') <i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;
              span.valine-comment-count(data-xid=url_for(page.path))
              span= ' ' + __('Comment')+' '
        if page.yuanchuang
           span()  <i class="fa fa-ravelry"></i> 原创&nbsp;
        if page.zhzai
           span()  <i class="fa fa-ravelry"></i> 转载&nbsp;
        if page.top
           span()  <i class="fa fa-thumb-tack"></i> 置顶&nbsp;
    if page.toc
      div(class='clear')
        div(id='toc' class='toc-article')
          div(class='toc-title')= __('contents')
          != toc(page.content, {list_number: theme.toc_number})
    <br><br>
    .post-content
      != page.content
    if theme.donate.enable == true
      iframe(src='/donate/?AliPayQR=' + theme.donate.alipay_qr + '&WeChatQR=' + theme.donate.wechat_qr + '&GitHub=' + theme.donate.github , style='overflow-x:hidden; overflow-y:hidden; border:0xp none #fff; min-height:200px; width:100%;', frameborder='0', scrolling='no')
    if page.zhzai
      div(style="padding-bottom: 10px;")
        <ul class="post-copyright">
        <li class="post-copyright-author">
          <strong>原文作者：</strong>
            a(href="/about/")=page.zhzaiName
        <li class="post-copyright-link">
          <strong>原文链接：</strong>
          a(href=page.zhzaiUrl)=page.zhzaiUrl
        <li class="post-copyright-license"><strong>版权声明：</strong>
            a(href="/site/")=theme.banquan.note
    else
      if theme.banquan.enable
        div(style="padding-bottom: 10px;")
          <ul class="post-copyright">
          <li class="post-copyright-author">
            <strong>本文作者：</strong>
              a(href="/about/")=theme.banquan.name
          <li class="post-copyright-link">
            <strong>本文链接：</strong>
              if theme.baidu_search
                a(href='https://'+page.permalink)='https://'+page.permalink
              else
                a(href=page.permalink)=page.permalink
          <li class="post-copyright-license"><strong>版权声明：</strong>
              a(href="/site/")=theme.banquan.note
    if theme.shareto== true
      script(type="text/javascript",charset="utf-8",src="https://static.bshare.cn/b/buttonLite.js#uuid=2aceecbb-21d7-4746-a9db-3f8da046a833&style=10&bgcolor=Grey&bp=sinaminiblog,qqim,qzone,weixin&ssc=false")
      div(style="float:right;")
        <a class="bshareDiv"  href="www.bshare.cn/share">分享按钮</a>
    include _partial/tag.pug
    include _partial/post_nav.pug

    if page.comments
      include _partial/comments.pug